# Project
.idea/
.github/
.*ignore
Makefile
README.md
aiogram-template.system

# Cache
__pycache__/
*.py[cod]

# Environment
.env*

# Docker
docker-compose*.yml
Dockerfile

# Poetry
poetry.lock
pyproject.toml

# Systemd
*.system